﻿@model IEnumerable<Cumulative1.Models.Teacher>


@{
    ViewBag.Title = "List";
}


<div id="containerlist">
    <h2>List of Teachers</h2>
    @{ foreach (Cumulative1.Models.Teacher teacher in Model)
        {
            <div><a href="/Teacher/Show/@teacher.teacherid">@teacher.teacherfname</a></div>
        }
    }
</div>


