﻿@model Cumulative1.Models.Teacher


@{
    ViewBag.Title = "Show";
}

<h2>@Model.teacherfname @Model.teacherlname</h2>
<p>Teacher ID :@Model.teacherid</p>
<p>Employee Number :@Model.employeenumber</p>
<p>Hire Date:@Model.hiredate</p>
<p>Salary:@Model.salary</p>



